.imageStyle{

  
    position:fixed;
    Width:102%;
    Height:94%;
    padding: 0px;
    margin:auto;
    background-size: cover;
    background-position: center;
    
    display:flex;

}
.imagelogo{
    position:fixed;
    Width:15%;
    Height:20%;
    opacity: 0.9;
    margin-left: 85%;
    margin-top: 0%;
    
}
