.imageStyle{

  
    position:fixed;
    Width:102%;
    Height:94%;
    padding: 0px;
    margin:auto;
    background-size: cover;
    background-position: center;
    
    display:flex;

}

.imagelogo{
    position:fixed;
    Width:17%;
    Height:12%;
    opacity: 0.8;
    margin-left: 84%;
    margin-top: 0%;
    
}
